# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*tfplan*
.terraform.lock.hcl

# OS / Editor
.DS_Store
.vscode/settings.json

# Data artifacts
artifacts/
logs/
*.parquet
*.feather

# Local env
.env

# Local source datasets (kept outside git due GitHub file size limit)
datasets/*.csv
